<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/Asset/mainlayout.css" />
<header>
    <div class="logo">
        <img src="~/img/logo.png" alt="" />
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/Flights">Flights</a>
            </li>
            <li>
                <a href="/Login">Login</a>
            </li>
        </ul>
    </nav>
</header>
@RenderBody()


</html>
